
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #08192b;
    padding: 20px 0;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.caixa {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.caixa p {
    font-family: 'Arial Narrow Bold';
    text-transform: uppercase;
    font-weight: bold;
    color: #52d393;
}

.principal {
    background: #e4f4f4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;    
}

/* css da página inicial */

.box {
    width: 500px;
    height: 180px;
    margin: 10px;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px solid #cfd0d0;
    transition: 1s;
}

.box:hover {
    border-color: #1cc373;;
}

button {
    all: initial;
    font: inherit;
    cursor: pointer;
    user-select: none;
    color: #FFF;
    background:   #52d393;
    text-align: center;
    margin: 5px 5px;
    padding: 0.4em 1em;
    border-radius: 5px;
    width: 80%;
}

button:hover {
    background-color: #1cc373;
    transition: 1s;
}

.botoes {
    display: flex;
}


.input-texto, .resultado {
    display: flex;
    all: initial;
    flex-direction: column;
    font: inherit;
    background: transparent;
    color: #495057;
    opacity: 0.4;
    padding: 1em 0.5em;
}


.informacao, .cont-erros {
    display: flex;
    align-items: center;
    font: inherit;
    font-size: 12px;
    color: #495057;
    opacity: 0.6;
    gap: 5px;
    margin: 3px 0;
    padding: 0.5em 0.5em;
  }

/* footer */

footer {
    text-align: center;
    background-color: #0f2a47;
    padding: 40px 0;
}

.copyright {
    color: #a5b6d0;
    font-size: 12px;
}

.social {
    margin: 15px;
}